@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .has-down-arrow {
    background-image: url('data:image/svg+xml,<svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"><path d="M7 10l5 5 5-5z" fill="%233730A3"/></svg>');
    background-repeat: no-repeat;
    background-position: right center;
    background-size: 1.5rem;
  }
}
